
*.aps
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/.suo
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/Browse.VC.db
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/Browse.VC.opendb
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/ipch/AutoPCH/1650f59e37ed60f/DLLMAIN.ipch
NFSPSHDReflections/Release/dllmain.obj
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/CL.command.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/CL.read.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/CL.write.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/link.command.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/link.read.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/link.write.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/NFSPSHDReflections.lastbuildstate
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/NFSPSHDReflections.write.1u.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/rc.command.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/rc.read.1.tlog
NFSPSHDReflections/Release/NFSPSHDR.3C558AD9.tlog/rc.write.1.tlog
NFSPSHDReflections/Release/NFSPSHDReflections.log
NFSPSHDReflections/Release/NFSPSHDReflections.pch
NFSPSHDReflections/Release/NFSPSHDReflections.res
NFSPSHDReflections/Release/NFSPSHDReflections/scripts/NFSPSHDReflections.asi
NFSPSHDReflections/Release/NFSPSHDReflections/scripts/NFSPSHDReflections.iobj
NFSPSHDReflections/Release/NFSPSHDReflections/scripts/NFSPSHDReflections.ipdb
NFSPSHDReflections/Release/NFSPSHDReflections/scripts/NFSPSHDReflections.pdb
NFSPSHDReflections/Release/stdafx.obj
NFSPSHDReflections/Release/vc142.pdb
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/Browse.VC.db-shm
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/Browse.VC.db-wal
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/ipch/AutoPCH/b94a179af35cc351/DLLMAIN.ipch
NFSPSHDReflections/Release/CodeAnalysisResultManifest.txt
*.sarif
*.xml
*.recipe
*.log
*.pchast
NFSPSHDReflections/Release/NFSPSHDReflections.vcxproj.FileListAbsolute.txt
NFSPSHDReflections/.vs/NFSPSHDReflections/v16/ipch/AutoPCH/e27e6d15c0b9d2c3/DLLMAIN.ipch
